<h1> <%= @job.title %> </h1>
<h3><%= @job.description %></h3>
<br>
<div id="pending">
<% if @job.pending && current_worker && !@job.completed && !@job.active %>
<p>You claimed this job. Its currently pending!</p>
</div>
<div id="active">
<% elsif @job.active && current_worker && !@job.completed %>
<p> This job is currently active</p>
</div>
<div id="completed">
<% elsif @job.completed && current_worker %>
  <p>You've claimed this job; it's completed.</p>
</div>
<% else %>
<%= link_to "click here to claim it now", job_path(@job, pending: true), id: "claim_job_link", method: "patch", remote: true %>
<% end %>
