<h1> <%= @job.title %> </h1>
<h3><%= @job.description %></h3>
<br>
<div id="pending">
<% if current_worker && @job.pending %>
  <p>You already claimed this job; it's currently pending.</p>
</div>
<div id="active">
<% elsif current_worker && @job.active %>
<p>You claimed this job. Its currently active!</p>
</div>
<div id="completed">
<% elsif @job.completed && current_worker %>
<p> You completed this job! </p>
</div>
<% else %>
<div id="claimed-job">
  <p id="unclaimed-job">No one has claimed this job yet! Claim it now! </p>
</div>
<%= link_to "click here to claim it now", job_path(@job), id: "claim_job_link", :method => "post", remote: true %>
<% end %>
